.navbar {
  position: sticky;
  top: 0;
  z-index: 100;
  background: rgb(13, 15, 20);
  border-radius: 10px;
}

.navbar-inner {
  width: 100%;
  padding-left: 0.75em;
  padding-right: 0.75em;
  height: 4.5em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btn {
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.5);
  color: #fff;
  padding: 12px 30px;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 600;
  font-size: 14px;
  transition: all 0.3s;
}

.btn:hover {
  background-color: #ff8c006e;
  border-color: #ffd700;
  transform: translateY(-2px);
}

.logo-icon {
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.logo-icon img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 4px;
}
